* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;

    margin-left: 10px;
    margin-top: 10px;
    background-color: rgb(33, 150, 228);
    display: flex;
}

section {
    margin-bottom: 10px;
}
#side-bar {
    display: grid;
    padding: 10px;
    width: 100%;
    align-self: flex-start;
    float: right;
}

.input-block {
    padding: 3px;

}

canvas {
    background-color: rgb(0, 0, 0);
    border: 2px solid black;
}

.axis-input {
    width: 50px;
}

.card-section {
    min-height: 0px;
    margin-top: 10PX;
    margin-bottom: 20PX;
    background-color: cornsilk;
    padding: 10px;
}

.card-item {
    padding: 10px;
    background-color: yellow;
    margin: 10px;
}

.divider {
    height: 1px;
    width: 200px;
    margin: 5px 0;
    background-color: black;
}

.hidden {
    display: none;
}

.showed {
    display: block;
}